<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='style.css'>
  <title>To Do List</title>
</head>
<body>
  <!-- create task form -->
  <form action="/create" method="post">
    <input type="text" name="task" id="task" placeholder="Descreva a nova tarefa">
    <button id="addButton" type="submit">Adicionar</button>
  </form>

  <!-- getAll tasks loop -->
  <ul>
    <% tasks.forEach((task) => { %>
      <li>
        <%= task.task %> | <%= task.date.toLocaleDateString('pt-BR') %>
      </li>
    <% }) %>
  </ul>

  <script src="script.js"></script>
</body>
</html>